@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "epilogue", sans-serif;
}
body{
    max-width: 1440px;
}
:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%); 
}
p{
    font-size: 18px;
}
.nav-btn:focus, .btn-close, .accordion-item, .accordion-button{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.dropdown-menu{
    padding:0 0 10% 10% !important;
}
.accordion-button{
    background-color: #fff !important;
}
.nav-item-mobile{
    margin-left: -0.7rem;
}
/* body img{
    width: 50%;
    float: right;
}
body h1, p{
    width: 50%;
} */

